<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Akronim' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Orders</title>
</head>

<body>
    <header>
        <p class="logo"> SS </p>

        <div class="title">
            <h1>Sportswear <br>Store</h1>
        </div>
    </header>

    <!-- orders container -->
    <section class="order-section">
        <div class="orders" id="listOforders">
            <h2 class="order-header" id="listofOder"> Oreders <i class='bx bxs-chevron-down'></i> </h2>
        </div>
    </section>
    <script>
        fetch("/admin/order", {
            method: "POST",
        }).then(Response => Response.json()).then(data => {
            if (typeof data == "string") {
                alert("no orders")
                return
            }
            data.forEach(s => {
                let element = JSON.parse(s)
                let e = document.createElement("ul")
                e.classList.add("order")
                e.innerHTML = `
                <li>
                    <h3>Id:</h3> <span>${element.idModel}</span>
                </li>
                <li>
                    <h3>Username:</h3> <span>${element.username}</span>
                </li>
                <li>
                    <h3>Address</h3>
                    <div>${element.addr}</div>
                </li>
                <li>
                    <h3>Product type:</h3> <span>${element.Container}</span>
                </li>
                <li>
                    <h3>Details</h3>
                    <div>
                        <span>${element.Kind}/</span>
                        <span>${element.color}/</span>
                        <span>${element.size}</span>
                    </div>
                </li>
                <li>
                    <h3>Phone</h3>
                    <div>
                        <span>${element.phone}</span>
                    </div>
                </li>
                
                `
                document.getElementById("listofOder").appendChild(e)
            });


        })

    </script>
    <a href="/admin"><i id="back-btn" class='bx bx-arrow-back'></i></a>

</body>

</html>